.gpt__blog-container_articles{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}
.gpt__blog-container_articles_img img{
    width: 100%;
    height: 100%;
}

.gpt__blog-container_articles_text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;
}

.gpt__blog-container_articles_text div p{
    font-family: var(--font-family);
    color: white;
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
}
 .gpt__blog-container_articles_text div h3{
    font-family: var(--font-family);
    color: white;
    font-weight: 800;
font-size: 25.11px;
line-height: 30px;
 }
.gpt__blog-container_articles_text p{
    font-family: var(--font-family);
    color: white;
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
    margin-top: 1rem;
}

@media screen and (max-width:550px) {
    .gpt__blog-container_articles_text{
        padding: 0.5rem;
    }
    .gpt__blog-container_articles_text div h3{
        font-size: 18px;
        line-height: 20px;
    }
}