.gpt__what {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.gpt__what_feature{
    margin: 1rem 2rem 2rem 2rem;
}

/* #top__feature{ 
    flex-direction: row;
} */
.gpt__what_feature .gpt__feature-container{
    flex-direction: row;
    margin: 0rem;
    justify-content: space-between;
    align-items: center;
}
.gpt__what_feature .gpt__feature-container_text{
    max-width: 700px;
}

.gpt__what-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 2rem;
}
.gpt__what-header h1{
    font-family: var(--font-family);
    font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 45px;

max-width: 480px;
}

.gpt__what-header p{
    font-family: var(--font-family);
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
color: var(--color-subtext);
}

.gpt__what-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem 1rem;
}
@media screen and (max-width:800px) {
    .gpt__what_feature .gpt__feature-container{
        flex-direction: column;
    }
    .gpt__what-header{
        margin: 1.5rem;
    }
    .gpt__what-header h1{
        font-size: 24px;
        line-height: 30px;
    }
    .gpt__what-header p{
        font-size: 14px;
        line-height: 30px;
    }
    .gpt__what-container{
        justify-content: center;
    }
}
@media screen and (max-width:450px) {
    .gpt__what{
        padding: 0;
    }
    .gpt__what-header{
        margin: 0rem 0.5rem ;
    }
    .gpt__what-header h1{
        font-size: 16px;
        line-height: 22px;
    }
    .gpt__what-header p{
        font-size: 12px;
        line-height: 16px;
    }
}