.gpt__feature-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
}
.gpt__feature-container_tittle{
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
}
.gpt__feature-container_tittle h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: white ;
}
.gpt__feature-container_tittle div{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0,0,0,0.5 );
    margin-bottom: 0.50rem;
}

.gpt__feature-container_text{
    flex: 2;
    max-width: 390px;
    display: flex;
    margin-top: 3rem;
}
.gpt__feature-container_text p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}

@media screen and (max-width:800px) {
    .gpt__feature-container_tittle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gpt__feature-container_text{
        margin: 1.5rem;
    }
    .gpt__feature-container{
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:450px) {
    .gpt__feature-container_text{
        width: 100%;
    }
    .gpt__feature-container_text p{
        font-size: 12px;
        line-height: 18px;
    }
    .gpt__feature-container_tittle h1{
        font-size: 16px;
        line-height: 24px;
    }
}